html, body{
    height: 100%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
    color: #fff;
}

button{
    background-color: #3a82d5;
    color: #fff;
    padding: 10px 25px;
    border: 2px solid #fff;
    border-radius: 25px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2em;
    cursor: pointer;
    transition: .4s;
}

button:hover{
    background-color: #1f2999;
}